.bodycontent {
  background-color: var(--brand-dark);
  /* padding: 20px; */
}
.flexDiv {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10%;
  padding: 80px;
  padding-bottom: 9%;
}
.textDiv {
  text-align: left;
  flex: 0.5;
  padding-right: 12%;
}
.wrapper {
  width: 100%;
  position: relative;
}
.imgDiv {
  flex: 1;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding-bottom: 10%;
}
.btnDiv {
  margin-top: 20px;
}
.imageBanner {
  top: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  display: inline;
  z-index: 2;
  border-radius: 10px;
}
