.heroBtn {
  display: flex;
  height: 25px;
  margin: 18px 0;
  align-items: center;
  justify-content: left;
}
.btnStyle {
  background: rgb(40, 46, 61);
  font-size: 12px;
  border-radius: 2px;
  padding: 5px 8px;
  margin-right: 8px;
  border: none;
  color: var(--neutral7);
}
